*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
body{
  background: #FAFAFA;
  font: 14px sas-serif;
  -webkit-font-smoothing: antialiased !important;
}

section#post{
  width: 100%;
  max-width: 930px;
  margin: 0 auto;
  padding: 0 30px;
}

section#post article{
  background: #FFF;
  border: 1px solid #DDD;
  margin-top: 30px;
  margin-bottom: 10px;
}

section#post article header{
  padding: 20px;
  display: flex;
  align-items: center;
}

section#post article header .title{
  display: flex;
  flex-direction: column;
}

section#post article header span{
  font-size: 13px;
  padding-top: 5px;
}

section#post article img{
  width: 100%;
}

section#post article footer{
  padding: 20px;
  word-wrap: break-word;
}
